<h1>
  <i class="fa-brands fa-shopify"></i>hop
</h1>
<div class="section">
  <p class="lead">Purchase public and private items for your life!</p>
</div>
<div class="divider"></div>
<div class="section">
  <a href="/auth/google" class="btn red darken-1">
    <i class="fab fa-google left"></i>
    Login
  </a>
</div>